<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
   
   	<select id="getSeqNextvalue" resultType="int">
   		SELECT board_seq.nextval
   		FROM dual
   	</select>
	<update id="insertBoard">
		insert into tbl_board(bnum,pjnum,title,content,writer,kind)
		values(#{bNum},#{pjNum},#{title},#{content},#{writer},1)
	</update>
	
	<update id="updateBoard">
		update
		tbl_board 
		set
		title=#{title}, content=#{content}, updateDate=#{updateDate}
		where bnum=#{bNum}
	</update>
	
	<update id="deleteBoard">
		delete
		from tbl_board
		where bnum=#{bNum}
	</update>
	
	<update id="increaseCount">
		update tbl_board
		set count=count+1
		where bNum=#{bNum}
	</update>
	
	<sql id="search">
				<if test="searchType == 't'.toString()">
					and title like '%'||#{keyword}||'%'
				</if>
				<if test="searchType == 'w'.toString()">
					and writer like '%'||#{keyword}||'%'
				</if>
	</sql>
	<select id="selectSearchBoardList" resultType="board">
		<![CDATA[select *
		from tbl_board
		where bnum >0
		]]>
		and pjnum=${pjNum} and kind = 1
		<include refid="search" ></include>
		order by bnum desc
	</select>
	<select id="selectSearchBoardCount" resultType="int">
		<![CDATA[
		select count(*)
		from tbl_board
		where bnum >0
		]]>
		and pjnum=${pjNum}
		<include refid="search"></include>
	</select>
	
	<select id="selectBoardByBnum" resultType="board">
		select *
		from tbl_board
		where bnum=#{bNum}
	</select>
	
	<select id="selectBoardAll" resultType="board">
		select *
		from tbl_board
		order by bnum desc, indate desc		
	</select>
	 
	 <update id="deleteBoardAll">
	 	DELETE FROM tbl_board
	 	WHERE pjNum=#{pjNum}
	 </update>

</mapper>






   