<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="BoardAttachMapper">

	<select id="selectAttachBybNum" resultType="attach">
		select * from tbl_board_attach where bnum = #{bNum}
	</select>
	
	<update id="insertAttach">
		insert into 
		tbl_board_attach (uuid, savepath, filename, kind, bnum)
		values (#{uUid}, #{savePath}, #{fileName},#{kind}, #{bNum} )
	</update>
	
	<update id="deleteAttach">
		delete from tbl_board_attach where uuid = #{uUid}
	</update>
	
	<update id="deleteAllAttach">
		delete tbl_board_attach where bnum = #{bNum}
	</update>
</mapper>