<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Finance">
	
	<select id="selectFinanceTotalByFnum" resultType="int">
		select total
		from tbl_finance
		where fnum=#{fNum}
	</select>
	
	<select id="selectFinanceList" resultType="finance">
		select *
		from tbl_finance
		where fnum=#{fNum}
	</select>
	
	<update id="insertFinanceTotal">
		insert into tbl_finance(fnum, total)
		values(#{fNum}, #{total})
	</update>
	
</mapper>
