<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Management">	
	<select id="selectJoinList" parameterType="int" resultType="member">
		select id, name, email
		from view_crew
		where pjnum = #{pjNum} and assignyn = 0
	</select>
	
	<select id="selectTeamMemberList" resultType="member">
		select id, name, email
		from view_crew
		where id not in(#{id}) and pjnum = #{pjNum} and assignyn = 1
	</select>
	
	<update id="applyMember">
		update tbl_project_partake
		set assignyn = 1
		where pjnum = #{pjNum} and id = #{id}
	</update>
	
	<update id="refuseMember">
		delete from tbl_project_partake
		where pjnum = #{pjNum} and id=#{id}
	</update>
</mapper>






   