<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
   
   <select id="selectMemberList" resultType="member">
      select * from tbl_member
      order by regdate desc
   </select>
   <select id="selectMemberById" resultType="member">
      select * from tbl_member
      where id=#{id}
   </select>
   <update id="insertMember">
      insert into tbl_member(id,pwd,name,phone,email)
      values(#{id},#{pwd},#{name},#{phone},#{email})      
   </update>
   <update id="updateMember">
      update tbl_member set
      pwd=#{pwd},name=#{name},phone=#{phone},email=#{email}
      where id=#{id}
   </update>
   <update id="deleteMember">
      delete from tbl_member
      where id=#{id}   
   </update>   
   <select id="idCheck" parameterType="str" resultType="int" >
	    select COUNT(*) FROM tbl_member
		where id = #{id}
	</select>
	<select id="emailCheck" parameterType="str" resultType="int" >
	    select COUNT(*) FROM tbl_member
		where email = #{email}
	</select>
	<select id="findID" parameterType="member" resultType="str">
		select
			id
		from
			tbl_member
		where
			name=#{name} 
		and
			email=#{email}
	</select>
	<update id="resetPwd" parameterType="member">
		update
			tbl_member
		set
			pwd = #{pwd}
		where
			id = #{id}
	</update>
</mapper>






   