<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Postbox">

	<select id="selectPostboxReplyList" parameterType="int" resultType="post">
		SELECT *
		FROM tbl_postbox
		WHERE pbfNum=#{pbNum}
	</select>
	<select id="selectPostboxListById" parameterType="str" resultType="post">
		SELECT *
		FROM tbl_postbox
		WHERE id=#{id} AND pbfNum=0
	</select>
	<update id="insertPostbox" parameterType="post">
		INSERT INTO tbl_postbox(pbNum, pbfNum, id, content, writer, visibility)
		VALUES(pbNum_seq.nextval, #{pbfNum}, #{id}, #{content}, #{writer}, #{visibility})
	</update>
	
	<sql id="member_search">
		<if test="searchType != null">
			<if test="searchType == 'i'.toString()">
				AND id LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'n'.toString()">
				AND name LIKE '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>
	
	<select id="selectSearchMemberList" resultType="member">
		SELECT *
		FROM tbl_member
		WHERE id IS NOT NULL
		AND operatoryn=0
		<include refid="member_search"/>
		ORDER BY id DESC
	</select>
	<select id="selectSearchMemberListCount" resultType="int">
		SELECT count(*)
		FROM tbl_member
		WHERE id IS NOT NULL
		AND operatoryn=0
		<include refid="member_search" />
	</select>

</mapper>






   