<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectPartake">
	
	<select id="selectProjectPartakeList" resultType="int">
   		select pjnum
   		from tbl_project_partake
   		where id=#{id} and assignyn=1
	</select>
	
	<select id="selectBindingProject" resultType="projectPartake">
		select *
		from tbl_project_partake
		where id=#{id}
	</select>
	
	<select id="selectBindingMember" parameterType="int" resultType="projectPartake">
  		SELECT *
  		FROM tbl_project_partake
  		where pjNum=#{pjNum}
   </select>
   
   <update id="deleteProjectPartakeById">
		delete from tbl_project_partake where id=#{id}
	</update>
	
	<update id="fireMember">
		delete from tbl_project_partake
		where id = #{id} and pjnum = #{pjNum}
	</update>
	
</mapper>
