<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectPartake">

	<select id="selectProjectPartakeById" resultType="projectPartake">
		select * from tbl_projectpartake where id=#{id}
	</select>
	
	<select id="selectProjectList" resultType="projectPartake">
		select * from tbl_projectpartake
      	order by lastdate desc
	</select>

</mapper>
