<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Project">

	<select id="ProjectSearchList" resultType="project">
	select * from tbl_project
	where name like '%'||#{keyword}||'%'
	order by pjnum desc
	</select>
	   
	<select id="ProjectSearchCount" resultType="int">
	select count(*) from tbl_project
	where name like '%'||#{keyword}||'%'
	</select>
	   
	<update id="ProjectSearchJoin">
	insert into tbl_project_partake(pjNum, id, assignyn)
	values(#{pjNum}, #{id}, 0)
	</update>
   
	<select resultType="project" id="selectProjectList"> select * from tbl_project order by indate desc </select>

	<select resultType="project" id="selectProjectByPjNum"> select pjnum from tbl_project </select>	
</mapper>






   