<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Project">

	<select id="pjNumSeq" resultType="int">
		select pjnum_seq.nextval
		from dual
	</select>
	
	<select id="ProjectSearchList" resultType="project">
		select * from tbl_project
		where name like '%'||#{keyword}||'%'
		order by pjnum desc
	</select>
	   
	<select id="ProjectSearchCount" resultType="int">
		select count(*) from tbl_project
		where name like '%'||#{keyword}||'%'
	</select>
	
	<update id="ProjectSearchJoin">
		insert into tbl_project_partake(pjNum, id, assignyn)
		values(#{pjNum}, #{id}, 0)
	</update>
	
	<update id="JoinCancelProject">
		delete from tbl_project_partake
		where id=#{id} and pjnum = #{pjNum}
	</update>
	
	<select id="selectProjectList" resultType="project">
		select *
		from tbl_project
	</select>

	<select id="selectProjectByPjNum" resultType="project">
		select *
		from tbl_project
		where pjnum=#{pjNum}
	</select>
	
	<select id="verifyProjectName" parameterType="str" resultType="str">
		SELECT name
		FROM tbl_project
		WHERE name=#{name}
	</select>
	
	<update id="insertProject" parameterType="project">
		INSERT INTO tbl_project(pjNum, name, disc, creator, visibility, startDate, endDate)
		VALUES(#{pjNum}, #{name}, #{disc}, #{creator}, #{visibility}, #{startDate}, #{endDate})
	</update>
	
	<update id="insertProjectake" parameterType="projectPartake">
		insert into tbl_project_partake(id, pjnum, assignyn)
		values(#{id}, #{pjNum}, 1)
	</update>
	
	<update id="updateProjectPlan" parameterType="project">
		update tbl_project
		set puuid = #{puuid}
		where pjnum = #{pjNum}
	</update>
	<update id="deletePlan">
		update tbl_project
		set puuid = null
	</update>
	
	<update id="updateUseCase">
		update tbl_project
		set uuuid = #{uuuid}
		where pjnum = #{pjNum}
	</update>
	
	<update id="updateFnum" >
		update tbl_project
		set fnum = #{fNum}
		where pjnum = #{pjNum}
	</update>
	<update id="insertUdNum" parameterType="project">
		UPDATE tbl_project
		set udNum = #{udNum}
		WHERE pjNum = #{pjNum}
	</update>
	<update id="insertGcNum" parameterType="project">
		UPDATE tbl_project
		SET gcNum = #{gcNum}
		WHERE pjNum = #{pjNum}
	</update>
	
	<select id="getInvitedList" resultType="project">
		select pjnum, name
		from view_invitedlist
		where id= #{id}
	</select>
</mapper>





   