<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Requirement">
	<select id="selectRequirementListById" parameterType="int" resultType="requirement">
		SELECT *
		FROM tbl_requirement_definition trd, tbl_requirement_dfntn_detail trdd
		WHERE trd.rdNum=#{rdNum} AND trd.rdNum=trdd.rdNum
	</select>
	
	<select id="seqNextRdNum" resultType="int">
		select rdNum_seq.nextval
		from dual
	</select>
	
	<update id="createRdNum" parameterType="project">
		update tbl_project
		set rdNum = #{rdNum}
		where pjNum = #{pjNum}
	</update>
	
	<sql id="searchList">
      <if test="cri.searchType != null">
         <if test="cri.searchType == 'ri'.toString()">
            AND rdId LIKE '%'||#{cri.keyword}||'%'
         </if>
         <if test="cri.searchType == 'rn'.toString()">
            AND rdName LIKE '%'||#{cri.keyword}||'%'
         </if>
         <if test="cri.searchType == 'rc'.toString()">
            AND rdcontent LIKE '%'||#{cri.keyword}||'%'
         </if>
         <if test="cri.searchType == 'ry'.toString()">
            AND acceptyn LIKE '%'||#{cri.keyword}||'%'
         </if>
         <if test="cri.searchType == 'in'.toString()">
            AND interf LIKE '%'||#{cri.keyword}||'%'
         </if>
         <if test="cri.searchType == 'all'.toString()">
            AND (rdId LIKE '%'||#{cri.keyword}||'%'
            OR rdName LIKE '%'||#{cri.keyword}||'%'
            OR acceptyn LIKE '%'||#{cri.keyword}||'%'
            OR interf LIKE '%'||#{cri.keyword}||'%'
            OR rdContent LIKE '%'||#{cri.keyword}||'%')
         </if>
      </if>
   </sql>
   <sql id="searchHistList">
      <if test="SearchType != null">
         <if test="SearchType == 'co'.toString()">
            AND comm LIKE '%'||#{keyword}||'%'
         </if>
      </if>
   </sql>
   
   <select id="selectRequirementListByRdNum" resultType="Requirement">
      select *
      from tbl_requirement_dfntn_detail
      where rdNum = #{rdNum}
      <include refid="searchList" />
      order by rdid desc
   </select>
	
	<select id="selectRequirementListByRdNumCount" resultType="int">
		select count(*)
		from tbl_requirement_dfntn_detail
		where rdNum = #{rdNum}
		<include refid="searchList" />
	</select>
	
	<select id="selectRequirementListAll" parameterType="int" resultType="Requirement">
		select *
		from tbl_requirement_dfntn_detail
		where rdNum = #{rdNum}
	</select>
	
	<select id="getReqHistory" resultType="RequirementHist">
		select rownum, rdNum, updateDate, comm
		from tbl_requirement_dfntn_hstr
		where rdNum = #{rdNum}
		<include refid="searchHistList" />
		order by rownum desc
	</select>
	
	<select id="getReqHistoryCount" resultType="int">
		select count(*)
		from tbl_requirement_dfntn_hstr
		where rdNum = #{rdNum}
		<include refid="searchHistList" />
	</select>
	
	<insert id="createRequirementRdNum" parameterType="int">
		insert into tbl_requirement_definition(rdnum)
		values(#{rdNum})
	</insert>
	
	<delete id="deleteRequirement" parameterType="int">
		delete from tbl_requirement_dfntn_detail
		where rddnum = #{delNum}
	</delete>
	
	<update id="updateRequirement">
		update tbl_requirement_dfntn_detail
		set rdid = #{rdId}, rdname = #{rdName}, rdcontent = #{rdContent}, limit = #{limit}, interf = #{interf}, acceptyn = #{acceptyn}, manager = #{manager}
		where rddnum = #{rddNum}
	</update>
	
	<insert id="createRequirementBySetRddNum">
		insert into tbl_requirement_dfntn_detail(rddnum, rdnum, rdid, rdname, rdcontent, limit, interf, acceptyn, manager )
		values(rddnum_seq.nextval, #{rdNum}, #{rdId}, #{rdName}, #{rdContent}, #{limit}, #{interf}, #{acceptyn}, #{manager})
	</insert>
	
	<insert id="insertReqHist">
		insert into tbl_requirement_dfntn_hstr(rdnum, comm)
		values(#{rdNum}, #{comm})
	</insert>
</mapper>






   