<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Unitwork">
	
	<!-- view 권한 풀리면 삭제 -->
	<select id="selectUnitworkListByRdNum" parameterType="int" resultType="unitwork">
		SELECT *
		FROM view_unitwork_definition
		WHERE udNum=#{udNum}
	</select>
	<select id="selectUnitworkCountByRdNum" parameterType="int" resultType="int">
		SELECT count(*)
		FROM view_unitwork_definition
		WHERE udNum=#{udNum}
	</select>
	<select id="selectUnitworkHistoryByRdNum" parameterType="int" resultType="unitworkHist">
		SELECT *
		FROM tbl_unitwork_definition_hist
		WHERE udNum=#{udNum}
		ORDER BY updateDate DESC
	</select>
	<select id="selectUnitworkHistoryCountByRdNum" parameterType="int" resultType="int">
		SELECT count(*)
		FROM tbl_unitwork_definition_hist
		WHERE udNum=#{udNum}
	</select>
	<select id="selectUdNum" resultType="int">
		SELECT udNum_seq.nextval
		FROM dual
	</select>
	<update id="insertUD" parameterType="int">
		INSERT INTO tbl_unitwork_definition(udNum)
		VALUES(#{udNum})
	</update>
	<update id="insertUDD" parameterType="unitwork">
		INSERT INTO tbl_unitwork_definition_detail(udNum, udId, udName, rdId, rdName, udManager, extDate, intDate, pdDate, devDate, estmate)
		VALUES(#{udNum}, #{udId}, #{udName}, #{rdId}, #{rdName}, #{udManager}, #{extDate}, #{intDate}, #{pdDate}, #{devDate}, #{estmate})
	</update>
	<update id="insertUDH" parameterType="unitworkHist">
		INSERT INTO tbl_unitwork_definition_hist(udNum, comm)
		VALUES(#{udNum}, #{comm})
	</update>
	<update id="deleteUDD" parameterType="int">
		DELETE FROM tbl_unitwork_definition_detail
		WHERE udNum=#{udNum}
	</update>
	
</mapper>






   