<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="UseCase">

	<select id="selectUseCaseByuUuid" resultType="usecase">
		select * 
		from tbl_usecase 
		where uuuid = #{uUuid}
	</select>
	
	<update id="insertUseCase">
		insert into 
		tbl_usecase (uuuid, savepath, filename, content)
		values (#{uUuid}, #{savePath}, #{fileName},#{content} )
	</update>
	
	<update id="deleteUseCase">
		delete from tbl_usecase where uuuid = #{uUuid}
	</update>
	

</mapper>